@tailwind base;
@tailwind components;
@tailwind utilities;

/* ここで強制的に背景色を指定 */
:root {
  background-color: #020617; /* Slate-950 */
  color: #f1f5f9; /* Slate-100 */
}

body {
  background-color: #020617; /* Slate-950 */
}